{%  extends 'base.html' %}

    {% block title %}
        {{ product.name }} - {{ block.super }}
    {% endblock %}


    {% block content %}
        <h1 class="mb-5">
            {{ product.name }}
        </h1>
        <h2 class="mb-5">
            {{ product.product_no }}
        </h2>
        <p>
            {{ product.description }}
        </p>
        <a href="{% url 'product_update_url' product.id %}">Update</a>
        <a href="{% url 'product_delete_url' product.id %}" class="btn btn-light">Delete</a>
    {% endblock %}